{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}
{% block styles %}
    {% comment "additional stylesheets for this template go here" %}{% endcomment %}
    <link rel="stylesheet" href={% static "css/forms.css" %}>
{% endblock %}
{% block content %}
<p class=" container medium-description waypoint" style="color: #3d8aff">Register</p>


      <form method="post">
    {% csrf_token %}


    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}


        <div class="container" style="margin:60px 0 60px 0">
            <button type="submit" class="blue-btn"> Register</button>
        </div>
  </form>





{% endblock %}